@model IEnumerable<Nikhil_ST10040092_CLDV6212_Part3.Areas.Identity.Pages.Account.UserViewModel>
<link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Registered Accounts";
}

<h2>Registered Accounts</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>


