/* Center the main heading */
h2 {
 
    color: #333;
    font-weight: bold;
  
    font-family: Arial, sans-serif;
}

/* Form container styling */
form {
 
   
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
}

/* Label styling */
.control-label {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

/* Input, select, and textarea styling */
.form-control {

    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Validation message styling */
.text-danger {
    font-size: 14px;
    color: crimson;
    margin-top: 5px;
    display: block;
}

/* Button styling */
.btn-primary {
    width: 150px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    background-color: darkblue;
    border: none;
    color: white;
    margin-top: 15px;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color:chartreuse;
    }



    a:hover {
        color: blue;
    }
